## Defining functions in Python

$p(n) = n(n=1)(n+2)(n+3) +1$ this function always produces squared number... can you write a function in python to produce these numbers

In [13]:
import math

In [10]:
def p(n):
    return n*(n+1)*(n+2)*(n+3)+1

p(5)

1681

In [15]:
math.sqrt(1681)

41.0

In [17]:
41*41

1681

In [21]:
for i in range(1,16):
    print(p(i),' ', int(math.sqrt(p(i))))

25   5
121   11
361   19
841   29
1681   41
3025   55
5041   71
7921   89
11881   109
17161   131
24025   155
32761   181
43681   209
57121   239
73441   271

Write a function $$ep(n)=1 + \frac{1}{1!}+\frac{1}{2!}+\dots+\frac{1}{n!}$$

$n! = 1\times 2\times 3\times \dots \times n$

In [29]:
import math

def ep(n):
    result = 1.0  # Start with the first term, which is 1
    for i in range(1, n + 1):
        result += 1 / math.factorial(i)
    return result

In [31]:
ep(100)

2.7182818284590455

The series $ep$ converges to 2.7 which is 1 + e where e is the exponential number

In [40]:
def ep2(n):
    x = 1
    for i in range(1,n+1):
        x += 1/(math.factorial(i))
    x = round(x, 5)
    return x

In [42]:
ep2(10)

2.71828

In [44]:
ep2(100)

2.71828

## Exercise.. write a function to calculate the series
$$s(n)=\frac{1}{1}+\frac{1}{1+2}+...+\frac{1}{1+2+...+n}$$

In [73]:
def ep3(n):
    x = 1
    for i in range(1, n+1):
        x += 1/sum(range(1,i+1))
    return x

In [77]:
ep3(6)

2.7142857142857144

In [63]:
def s(n):
    result = 1.0
    for i in range(1, n + 1):
        result += 1 / sum(range(1,i+1))
    
    return result

s(6)

2.7142857142857144

## Continue with functions

In [80]:
def f(x):
    return x*3

In [82]:
f(12)

36

In [84]:
f('test ')

'test test test '

In [86]:
f(1.3)

3.9000000000000004

In [88]:
f(2, 4)

TypeError: f() takes 1 positional argument but 2 were given

Define a function $f(x, y) = x^2 + y^2$

In [91]:
def f(x, y):
    return x**2 + y**2

In [93]:
f(12, 23)

673

In [95]:
f(1,3,4)

TypeError: f() takes 2 positional arguments but 3 were given

Exercise: write a function `decom(n,p)` and it returns to accept a number $n$ and a prime number p and it returns the decomposition $$n=p^k s$$

##Fundamental theorem of number theory
any number can be decomposed in a **unique** way as the product of primes

$$n = p_1^(k_1) p_2^(k_2) \times \dots \times p_n^(k_n)$$ where $p_i^i s$ are prime

In [103]:
14 == 2*7

True

In [107]:
(2**3) * 29 == 232

True

Therefore $232 = 2^3 \times 29$

Exercise: write a function `decom(n,p)` and it returns to accept a number $n$ and a prime number p and it returns the decomposition $$n=p^k s$$

In [133]:
def decom(n, p):
    k = 0
    while n % p == 0:
        k += 1
        n = n//p
    return n, k

n = int(input('enter an integer: '))
m, k = decom(n,5)

print(f'{n} is of the form 5^{k} X {m}')

enter an integer:  43243

43243 is of the form 5^0 X 43243

In [137]:
def decom(n, p):
    k = 0
    while n % p == 0:
        n //= p
        k += 1
    s = n
    return k, s

## Anonymous  functions... Pure functions
# FUNCTIONAL Programming

In [141]:
def f(x):
    return x**2

In [143]:
f(100)

10000

In [145]:
def here_it_is(x, y):
    return x + y

In [147]:
here_it_is(12,15)

27

In [151]:
here_it_is('Western',' Sydney')

'Western Sydney'

In [155]:
(lambda x : x**2)(12)

144

In [157]:
(lambda x : 5* x)(12)

60

In [161]:
(lambda x : 5* x)('test ')

'test test test test test '

Continue with functions.. recursive functions

$$f(n) = n^2 + n + 1$$

A recursive function calls itself.. such as $$g(n) = g(n-1) + g(n-2)$$ with initial values $g(0) = 0$ and $g(1) = 1$

$f(3) = 3^2+3+1$

$g(3) = g(2) + g(1)$

$g(4) = g(3) + g(2) = g(2) + g(1) + g(1) + g(0) = g(1) + g(0) + g(1) + g(1) + g(0) = 1 + 0 + 1 + 1 + 0 = 3$

Define the function $g: \mathbb N \rightarrow \mathbb N$ with $$g(n) = g(n-1) + g(n-2)$$ with initial values $g(0) = 0$ and $g(1) = 1$

g(1) = 0, g(2) = 1, g(3) = g(2) + g(1) = 1+0=1, g(4)=g(3) + g(2)= 1 + 1 = 2, g(5) = g(4)+g(3) = 2 + 1 = 3

$0, 1, 1, 2, 3, 4, 5, 8, \dots$ this is called Fibonacci sequence

In [192]:
 def fib(n):
    a, b =0 , 1
    for i in range(n):
        a, b = b, a + b
    return a

In [194]:
fib(16)

987

## Default values in a function

In [197]:
def f(n, a, b):
    print(f'n = {n}, a ={a}, b={b}')

In [199]:
f(12, 3, 'test')

n = 12, a =3, b=test

In [201]:
f(12, 13)

TypeError: f() missing 1 required positional argument: 'b'

In [203]:
def f(n, a = 99, b = 10000):
    print(f'n = {n}, a ={a}, b={b}')

In [205]:
f(1, 4, 6)

n = 1, a =4, b=6

In [207]:
f(1)

n = 1, a =99, b=10000

In [209]:
f(1, 12)

n = 1, a =12, b=10000

In [211]:
f(1, b = 10)

n = 1, a =99, b=10

# Exercise... 
write the Fibonacci function with initial values, starting from 4 and 7..i.e, $g(0)=4$, $g(1) = 7$

In [232]:
 def fib(n, a = 4, b = 7):
    for i in range(n):
        a, b = b, a + b
    return a

In [234]:
fib(12)

1364

In [236]:
fib(12,0,1)

144

In [238]:
def g(n):
    if n == 0:
        return 4
    elif n == 1:
        return 7
    else:
        return g(n-1) + g(n-2)

In [240]:
g(12)

1364

## Functional programming, lambda functions

In [243]:
(lambda x: x**2)(12)

144

In [245]:
(lambda x, y : x**2 + y**2)(12,14)

340

Write the function $f(x, y, z) = x^2 + y^2 +  z^2$ as pure function

In [263]:
(lambda x, y = 12, z =16 : x**2+y**2+z**2)(1, 2, 3)

14

In [261]:
(lambda x, y = 12, z =16 : x**2+y**2+z**2)(1)

401

In [265]:
def f(x, y, z):
    return x**2 + y**2 + z**2

In [267]:
f(1, 2, 3 )

14

In [269]:
sum([1,2,3])

6

In [271]:
(lambda z: sum(z))([1,2,3])

6

In [277]:
(lambda z: sum(z))([1,2,3,4,5])

15

In [279]:
(lambda *z: sum(z))(1,2,3,4,5)

15

In [281]:
(lambda *z: sum(z))(1,2,3,4,5,6,7)

28

In [285]:
(lambda *z: sum(z))(*range(11))

55

Write a pure function to calculate $sin(x)$

In [288]:
def f(x):
    return math.sin(x)

In [290]:
(lambda x : math.sin(x))(13)

0.4201670368266409

# Continuation of functional programming

$$\{a_1, a_2, \cdots, a_n \}$$ and a function $f(x) = x^2$ We need to apply the function f to each of these $a_i$, In procedural programming, create a loop

`for i in ${a_1, a_2, \cdots, a_n \}$`:

     `f(i)`

In functional programming, we apply f to the whole list: as follows:
$${f(a_1), f(a_2), f(a_3), \dots, f(a_n)}$$