In [60]:
import nltk
from nltk.book import *

In [62]:
len(text2)

141576

In [64]:
text2[140:150]

['family', 'of', 'his', 'nephew', 'Mr', '.', 'Henry', 'Dashwood', ',', 'the']

In [66]:
s1 = 'hello'; s2 = 'world'

In [68]:
''.join([s1,s2])

'helloworld'

In [70]:
from functools import reduce

recall $f(x,y)$ the ${x_1,x_2,x_3,\dots,x_4}$ then $$reduce(f,{x_1,x_2,x_3,x_4}=f(f(f(x_1,x_2),x_3),x_4)\$$

In [73]:
reduce(lambda x, y: ''.join([x,y]),('hello','world','example','more'))

'helloworldexamplemore'

In [98]:
x_test = reduce(lambda x, y: ''.join([x,y]),text2)

In [76]:
x_test[100:100]

''

In [84]:
word = 'google'
l_w = len(word)
for interval in range(1,100):
    for j in range(len(x_test)):
        if x_test[0 + j : l_w * interval + j : interval].lower()==word:
            print(f'{word} appears in the book from {j}th letter with the interval {interval}')

google appears in the book from 312852th letter with the interval 90

In [86]:
x_test[312852: 6 * 90 + 312852 : 90 ]

'googlE'

In [94]:
word = input('Enter a word:')
l_w = len(word)
check = True
for interval in range(1,100):
    for j in range(len(x_test)):
        if x_test[0 + j : l_w * interval + j : interval].lower()==word:
            print(f'{word} appears in the book from {j}th letter with the interval {interval}')
            check = False
if check: print('could not find')

Enter a word: trump

trump appears in the book from 106547th letter with the interval 40
trump appears in the book from 446196th letter with the interval 72

### List comprehension

In [109]:
range(10)

range(0, 10)

In [111]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [113]:
[i for i in range(10)]

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

$$(i | 0 <= i < 10)$$

In [125]:
[i*2 for i in range(0, 20, 3)]

[0, 6, 12, 18, 24, 30, 36]

$$(2i | 0 <= i < 20, 3)$$

generate the numbers $2^n-1$ for n between 1 and 100 using list comprehension

In [131]:
[(2**i - 1) for i in range(1, 100)]

[1,
 3,
 7,
 15,
 31,
 63,
 127,
 255,
 511,
 1023,
 2047,
 4095,
 8191,
 16383,
 32767,
 65535,
 131071,
 262143,
 524287,
 1048575,
 2097151,
 4194303,
 8388607,
 16777215,
 33554431,
 67108863,
 134217727,
 268435455,
 536870911,
 1073741823,
 2147483647,
 4294967295,
 8589934591,
 17179869183,
 34359738367,
 68719476735,
 137438953471,
 274877906943,
 549755813887,
 1099511627775,
 2199023255551,
 4398046511103,
 8796093022207,
 17592186044415,
 35184372088831,
 70368744177663,
 140737488355327,
 281474976710655,
 562949953421311,
 1125899906842623,
 2251799813685247,
 4503599627370495,
 9007199254740991,
 18014398509481983,
 36028797018963967,
 72057594037927935,
 144115188075855871,
 288230376151711743,
 576460752303423487,
 1152921504606846975,
 2305843009213693951,
 4611686018427387903,
 9223372036854775807,
 18446744073709551615,
 36893488147419103231,
 73786976294838206463,
 147573952589676412927,
 295147905179352825855,
 590295810358705651711,
 1180591620717411303423,
 2361183241434822606847,
 4722366482869645213695,
 9444732965739290427391,
 18889465931478580854783,
 37778931862957161709567,
 75557863725914323419135,
 151115727451828646838271,
 302231454903657293676543,
 604462909807314587353087,
 1208925819614629174706175,
 2417851639229258349412351,
 4835703278458516698824703,
 9671406556917033397649407,
 19342813113834066795298815,
 38685626227668133590597631,
 77371252455336267181195263,
 154742504910672534362390527,
 309485009821345068724781055,
 618970019642690137449562111,
 1237940039285380274899124223,
 2475880078570760549798248447,
 4951760157141521099596496895,
 9903520314283042199192993791,
 19807040628566084398385987583,
 39614081257132168796771975167,
 79228162514264337593543950335,
 158456325028528675187087900671,
 316912650057057350374175801343,
 633825300114114700748351602687]

Procedure (classical for loop) approach

In [133]:
L = []
for i in range(1,10):
    L.append(2**i-1)
L

[1, 3, 7, 15, 31, 63, 127, 255, 511]

Functional programming approach

In [142]:
list(map(lambda i : 2**i-1, range(1,10)))

[1, 3, 7, 15, 31, 63, 127, 255, 511]

Generate the list $(x, \cos(x))$ for certain interval of $ 0 <= x <= pi $

In [145]:
import math

In [159]:
list(map(lambda x : (x, math.cos(x)), range(0,int(math.pi))))

[(0, 1.0), (1, 0.5403023058681398), (2, -0.4161468365471424)]

In [157]:
[(x, math.cos(x/10 * math.pi)) for x in range(1, 11)]

[(1, 0.9510565162951535),
 (2, 0.8090169943749475),
 (3, 0.5877852522924731),
 (4, 0.30901699437494745),
 (5, 6.123233995736766e-17),
 (6, -0.30901699437494734),
 (7, -0.587785252292473),
 (8, -0.8090169943749473),
 (9, -0.9510565162951535),
 (10, -1.0)]

In [163]:
import math

step_size = 100

interval = [x for x in range(0, int(math.pi / step_size) + 1)]

result = [(x * step_size, math.cos(x * step_size)) for x in interval]

# Print the result
print(result)

[(0, 1.0)]

Write a code to generate all numbers between 1 and 50 which is divisible by 7

In [166]:
[i for i in range(1,51) if i%7 == 0]

[7, 14, 21, 28, 35, 42, 49]

In [171]:
[i for i in range(1,101) if i%7 == 0 and i%11 == 0]

[77]

In [173]:
x = ['sydney', 20, 'western', 4.3, 'wollongong', 2333, [2, 4, 4]]

Write code to get all the strings from this list x and then get only all the numbers and finally put the codes together so that the strings appears first and then the numbers appear afterward.. using list comprehension

In [178]:
[item for item in x]

['sydney', 20, 'western', 4.3, 'wollongong', 2333, [2, 4, 4]]

In [184]:
[[i for i in x if type(i) == str],[i for i in x if type(i) == int]]

[['sydney', 'western', 'wollongong'], [20, 2333]]

In [186]:
[(i,j) for i in range(1,5) for j in range(13,40,3)]

[(1, 13),
 (1, 16),
 (1, 19),
 (1, 22),
 (1, 25),
 (1, 28),
 (1, 31),
 (1, 34),
 (1, 37),
 (2, 13),
 (2, 16),
 (2, 19),
 (2, 22),
 (2, 25),
 (2, 28),
 (2, 31),
 (2, 34),
 (2, 37),
 (3, 13),
 (3, 16),
 (3, 19),
 (3, 22),
 (3, 25),
 (3, 28),
 (3, 31),
 (3, 34),
 (3, 37),
 (4, 13),
 (4, 16),
 (4, 19),
 (4, 22),
 (4, 25),
 (4, 28),
 (4, 31),
 (4, 34),
 (4, 37)]

In [192]:
for i in range(1, 5):
    for j in range(13,40,3):
        print((i,j))

(1, 13)
(1, 16)
(1, 19)
(1, 22)
(1, 25)
(1, 28)
(1, 31)
(1, 34)
(1, 37)
(2, 13)
(2, 16)
(2, 19)
(2, 22)
(2, 25)
(2, 28)
(2, 31)
(2, 34)
(2, 37)
(3, 13)
(3, 16)
(3, 19)
(3, 22)
(3, 25)
(3, 28)
(3, 31)
(3, 34)
(3, 37)
(4, 13)
(4, 16)
(4, 19)
(4, 22)
(4, 25)
(4, 28)
(4, 31)
(4, 34)
(4, 37)

Mathematical $$\{(i,j) \mid 1 \leq 10, 5 \leq j \leq 15}\$$

Consider the Pythagorean paired $(m,n)$ i.e, $m^2+n^2$ is a square number.. for example $(3,4)$ is a pythagorean number as $3^2 + 4^2 = 5^2$.. write a list comprehension to find all the pythagorean paired between 1 to 500..

In [199]:
sqrt(n).is_integer()

NameError: name 'sqrt' is not defined

In [201]:
[(m,n) for m in range(1,51) for n in range(m,51) if math.sqrt(m**2+n**2).is_integer()]

[(3, 4),
 (5, 12),
 (6, 8),
 (7, 24),
 (8, 15),
 (9, 12),
 (9, 40),
 (10, 24),
 (12, 16),
 (12, 35),
 (14, 48),
 (15, 20),
 (15, 36),
 (16, 30),
 (18, 24),
 (20, 21),
 (20, 48),
 (21, 28),
 (24, 32),
 (24, 45),
 (27, 36),
 (28, 45),
 (30, 40),
 (33, 44),
 (36, 48),
 (40, 42)]

enhance this tho find all pythagorean pairs such as (3,4) i.e. (n,n+1) which has the pythagorean property

In [208]:
[(m,n) for m in range(1,501) for n in range(m,501) if math.sqrt(m**2+n**2).is_integer() and n == m+1]

[(3, 4), (20, 21), (119, 120)]

Finally, if we need if and else.. to introduce inside the list comprehension

In [213]:
[n if n>10 else 'less' for n in range(20) if n%5 == 0]

['less', 'less', 'less', 15]

In [217]:
x = ['sydney', [1,2,3], 3.5, 'hello', ['name','degree'], 12]

from 'x', get the first and then get first element of the list

In [221]:
first_elements = [item[0] for item in x if type(item) == list]
print(first_elements)

[1, 'name']

In [223]:
[item[0] if type(item) == list else '' for item in x]

['', 1, '', '', 'name', '']

## Symbolic computation in library sympy

In [226]:
import sympy

In [228]:
def f(x):
    return 3*x + x

In [230]:
f(12)

48

In [232]:
f('test')

'testtesttesttest'

In [234]:
x = sympy.symbols('x')

In [236]:
f(x)

4*x

In [238]:
y = sympy.symbols('y')

In [240]:
x+y

x + y

In [242]:
(x+y)**2

(x + y)**2

In [244]:
sympy.expand((x+y)**2)

x**2 + 2*x*y + y**2

In [246]:
sympy.expand((x-12*y)**13)

x**13 - 156*x**12*y + 11232*x**11*y**2 - 494208*x**10*y**3 + 14826240*x**9*y**4 - 320246784*x**8*y**5 + 5123948544*x**7*y**6 - 61487382528*x**6*y**7 + 553386442752*x**5*y**8 - 3689242951680*x**4*y**9 + 17708366168064*x**3*y**10 - 57954652913664*x**2*y**11 + 115909305827328*x*y**12 - 106993205379072*y**13

$(x+y)^2=(x+y)(x+y)=x^2+y^2+2xy$

$x^{10} + x^5 + 1$, can you factorize this expression as a product of smaller expressions?

$$x^{10} + x^5 + 1 = x^{10} + x^9 - x^9 + x^8 - x^8 + x^7 - x^7 + \dots + x^5 + x^4 - x^4 + x^3 - x^3 + \dots + 1$$
$$x^{10} + x^5 + 1 = x^8(x^2+x+1) - x^9 - x^8 + x^7 - x^7 + \dots$$
$$x^{10} + x^5 + 1 = x^8(x^2+x+1) - x^7(x^2+x+1) + x^7 + \dots$$
$$x^{10} + x^5 + 1 = (x^2+x+1)(x^8 - x^7 + \dots + 1)$$

In [268]:
sympy.factor(x**10+x**5+1)

(x**2 + x + 1)*(x**8 - x**7 + x**5 - x**4 + x**3 - x + 1)

In [270]:
def f(x):
    return x/(1+x)

In [272]:
argument = sympy.symbols('things')

In [274]:
f(argument)

things/(things + 1)

In [276]:
f(f(f(argument)))

things/((things + 1)*(things/(things + 1) + 1)*(things/((things + 1)*(things/(things + 1) + 1)) + 1))

In [280]:
sympy.simplify(f(f(f(argument))))

things/(3*things + 1)

Define two function $f(x) = x^2 + 1$ and $g(x) = sin(x) + cos(x)$ and then symbolically compute $f(g(x))$ and $g(f(x))$ and observe they are different... i.e. $$f(g(x)) !=  g(f(x))$$

In [289]:
def f(x):
    return x**2 + 1

def g(x):
    return sympy.sin(x) + sympy.cos(x)

In [291]:
f(x)

x**2 + 1

In [293]:
g(x)

sin(x) + cos(x)

In [295]:
f(g(x))

(sin(x) + cos(x))**2 + 1

In [297]:
g(f(x))

sin(x**2 + 1) + cos(x**2 + 1)

In [299]:
f(g(sympy.pi))

2

In [301]:
g(f(sympy.pi))

sin(1 + pi**2) + cos(1 + pi**2)

In [305]:
sympy.simplify(g(f(sympy.pi)))

sqrt(2)*sin(pi/4 + 1 + pi**2)

In [307]:
f(g(sympy.pi)) == g(f(sympy.pi))

False