## Functional programming.. new method to write codes...

## Before.. recall

In [7]:
def f(*a):
    return a[0], a[-1]

In [9]:
f(1,2,3,4)

(1, 4)

In [15]:
f('test',[1,2,4], 2.4, 'western')

('test', 'western')

In [17]:
f(*range(1,100, 6))

(1, 97)

This functions returns the first and the last object of the sequence sent to it...

In [24]:
def primeQ(n): #This functions returns True if the number n is prime
    if n == 0 or n == 1:
        return False
    elif n == 2:
        return True
    elif n % 2 == 0:
        return False
    for i in range(3, n//2+1):
        if n % i == 0:
            return False
    return True

In [26]:
primeQ(2)

True

In [28]:
primeQ(13)

True

In [36]:
primeQ(1233321)

False

What is the first prime number after 27364372

In [38]:
n = 27364372
while not primeQ(n):
    n+=1
print(n)

27364433

In [52]:
check = True
n = 27364372
while check == True:
    n += 1
    if primeQ(n):
        check = False
print(n)

27364433

In [47]:
import sympy

What is the first five prime numbers after 2734372

In [50]:
sympy.isprime(27364433)

True

In [54]:
n = 27364372
k = 1
while k < 6:
    if primeQ(n):
        print(n, ' ', sympy.isprime(n))
        k+=1
    n+=1

27364433   True
27364439   True
27364451   True
27364489   True
27364511   True

In [56]:
firstFivePrimes = []
n = 27364372

while len(firstFivePrimes) < 5:
    n += 1
    if(primeQ(n)):
        firstFivePrimes.append(n)

print(firstFivePrimes)

[27364433, 27364439, 27364451, 27364489, 27364511]

In [58]:
count = 0
n = 27364372
a = []
while count < 5:
    n += 1
    if primeQ(n):
        count +=1
        a.append(n)
print(a)

[27364433, 27364439, 27364451, 27364489, 27364511]

Write a function to accept a sequence of numbers such as (4, 16, 17, 18, 3, 5) and then print the sequence up to the occurence of the first prime number

In [66]:
def fp(*n):
    for i in range(len(n)):
        if primeQ(n[i]):
            return n[ : i]
    return n

In [76]:
fp(4, 16, 34, 4, 6, 9, 27364439, 17, 18, 3, 5)

(4, 16, 34, 4, 6, 9)

In [82]:
def findPrime(a):
    b = []
    c = 0
    while primeQ(a[c]) == False:
        b.append(a[c])
        c += 1
    print(b)

a = [4, 16, 34, 4, 6, 9, 27364439, 17, 18, 3, 5]
findPrime(a)

[4, 16, 34, 4, 6, 9]

Write a code to get a list and return only the primes inside the list

In [105]:
def pk1(*a):
    L=[]
    for i in range(len(a)):
        if primeQ(a[i]):
            L+=[a[i]] # same as L.append(a[i])
    return L

In [107]:
pk1(4, 16, 34, 4, 6, 9, 27364439, 17, 18, 3, 5)

[27364439, 17, 3, 5]

In [109]:
def pk2(*a):
    L = []
    for i in a:
        if primeQ(i):
            L.append(i)
    return L

In [111]:
pk2(4, 16, 34, 4, 6, 9, 27364439, 17, 18, 3, 5)

[27364439, 17, 3, 5]

In [113]:
def pk3(*a):
    L = list(a)
    for i in a:
        if primeQ(i):
            continue
        else: L.remove(i)
    return L

In [115]:
pk3(4, 16, 34, 4, 6, 9, 27364439, 17, 18, 3, 5)

[27364439, 17, 3, 5]

In [117]:
def pk4(*a):
    L=list(a)
    for i in a:
        if not primeQ(i):
            L.remove(i)
    return L

In [119]:
pk4(4, 16, 34, 4, 6, 9, 27364439, 17, 18, 3, 5)

[27364439, 17, 3, 5]

Write a code to receive a sequence of names and pick the ones that starts with 'n' or 'N'

In [140]:
def names(*words):
    L =[]
    for word in words:
        if word[0].lower()=='n':
            L.append(word)
    return L

In [146]:
names('western sydney', 'nippon', 'parramatta', 'Narmak', 'CBD')

['nippon', 'Narmak']

In [148]:
def names(*args):
  
    for name in args:
      if name.startswith('n') or name.startswith('N'):
        print(name)

    return 

    
names('daniel', 'nathan', 'natalie', 'ezekiel')

nathan
natalie

In [150]:
def the_N_people(*a):
    n_people=[]
    for n in a:
        if n[0]=='n' or n[0]=='N':
            n_people.append(n)
    return n_people

the_N_people('nigel','Nora','Winslow')

['nigel', 'Nora']

Write a code to pick up all the words which starts with 'na' or 'Na' or 'nA' or 'NA'

In [171]:
def names(*words):
    L =[]
    for word in words:
        if word[0:2].lower() == 'na':
            L.append(word)
    return L

In [173]:
names('western sydney', 'nippon', 'parramatta', 'Narmak', 'CBD')

['Narmak']

In [175]:
def pickna(*words):
    getna=[]
    for i in words:
        if i.startswith("na") or i.startswith('NA') or i.startswith("nA") or i.startswith("Na"):
            getna.append(i)
    return getna

pickna('natalie', 'no', 'nAtalie', 'NA','n', 'Natalie')

['natalie', 'nAtalie', 'NA', 'Natalie']

In [179]:
def filter_words(*args):
    result = [word for word in args if word.startswith(('na', 'Na', 'nA', 'NA'))]
    return result
filtered_words = filter_words('nap', 'NaP', 'nAp', 'NAture', 'apple', 'NAme')
print(filtered_words)

['nap', 'NaP', 'nAp', 'NAture', 'NAme']

In [256]:
text = "Napoleon Bonaparte (born Napoleone di Buonaparte;[1][b] 15 August 1769 – 5 May 1821), later known by his regnal name Napoleon I, was a French military officer and statesman who rose to prominence during the French Revolution and led a series of successful campaigns across Europe during the French Revolutionary and Napoleonic Wars from 1796 to 1815. He was the leader of the French Republic as First Consul from 1799 to 1804, then of the French Empire as Emperor of the French from 1804 to 1814, and briefly again in 1815"

In [258]:
text

'Napoleon Bonaparte (born Napoleone di Buonaparte;[1][b] 15 August 1769 – 5 May 1821), later known by his regnal name Napoleon I, was a French military officer and statesman who rose to prominence during the French Revolution and led a series of successful campaigns across Europe during the French Revolutionary and Napoleonic Wars from 1796 to 1815. He was the leader of the French Republic as First Consul from 1799 to 1804, then of the French Empire as Emperor of the French from 1804 to 1814, and briefly again in 1815'

Go through the text, anywhere you see Napoleon replace it with XXXXX

In [238]:
len(text)

522

In [218]:
text[0]

'N'

In [262]:
text = text.split()

In [246]:
text[0]

'Napoleon'

In [248]:
for i in range(len(text)):
    if text[i] == 'Napoleon':
        text[i]= 'XXXXXX'
print(text)

['XXXXXX', 'Bonaparte', '(born', 'Napoleone', 'di', 'Buonaparte;[1][b]', '15', 'August', '1769', '–', '5', 'May', '1821),', 'later', 'known', 'by', 'his', 'regnal', 'name', 'XXXXXX', 'I,', 'was', 'a', 'French', 'military', 'officer', 'and', 'statesman', 'who', 'rose', 'to', 'prominence', 'during', 'the', 'French', 'Revolution', 'and', 'led', 'a', 'series', 'of', 'successful', 'campaigns', 'across', 'Europe', 'during', 'the', 'French', 'Revolutionary', 'and', 'Napoleonic', 'Wars', 'from', '1796', 'to', '1815.', 'He', 'was', 'the', 'leader', 'of', 'the', 'French', 'Republic', 'as', 'First', 'Consul', 'from', '1799', 'to', '1804,', 'then', 'of', 'the', 'French', 'Empire', 'as', 'Emperor', 'of', 'the', 'French', 'from', '1804', 'to', '1814,', 'and', 'briefly', 'again', 'in', '1815']

In [260]:
new_text = text.replace("Napoleon","XXXXXX")
print(new_text)

XXXXXX Bonaparte (born XXXXXXe di Buonaparte;[1][b] 15 August 1769 – 5 May 1821), later known by his regnal name XXXXXX I, was a French military officer and statesman who rose to prominence during the French Revolution and led a series of successful campaigns across Europe during the French Revolutionary and XXXXXXic Wars from 1796 to 1815. He was the leader of the French Republic as First Consul from 1799 to 1804, then of the French Empire as Emperor of the French from 1804 to 1814, and briefly again in 1815

In [264]:
def hideWord(text, wordToHide):
    newText = []
    for word in text:
        if(word.lower() == wordToHide.lower()):
            newText.append("xxxxx")
        else:
            newText.append(word)
    return newText
    
print(hideWord(text, "Napoleon"))

['xxxxx', 'Bonaparte', '(born', 'Napoleone', 'di', 'Buonaparte;[1][b]', '15', 'August', '1769', '–', '5', 'May', '1821),', 'later', 'known', 'by', 'his', 'regnal', 'name', 'xxxxx', 'I,', 'was', 'a', 'French', 'military', 'officer', 'and', 'statesman', 'who', 'rose', 'to', 'prominence', 'during', 'the', 'French', 'Revolution', 'and', 'led', 'a', 'series', 'of', 'successful', 'campaigns', 'across', 'Europe', 'during', 'the', 'French', 'Revolutionary', 'and', 'Napoleonic', 'Wars', 'from', '1796', 'to', '1815.', 'He', 'was', 'the', 'leader', 'of', 'the', 'French', 'Republic', 'as', 'First', 'Consul', 'from', '1799', 'to', '1804,', 'then', 'of', 'the', 'French', 'Empire', 'as', 'Emperor', 'of', 'the', 'French', 'from', '1804', 'to', '1814,', 'and', 'briefly', 'again', 'in', '1815']